@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');


.textDiv {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgb(206, 198, 141);

    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto; 

    font-size: 2vw;
    font-family: 'Zilla Slab Highlight', cursive;


    width: 50%;

}

@keyframes cursorAnimation {
    from, to {border-right-color:rgb(216, 216, 216)} 50% {border-right-color: transparent}; 
}
