@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Unna&display=swap');



body {
    margin: 0%;
    padding: 0%; 

    font-family: 'Inconsolata', monospace;
    font-family: 'Unna', serif;

    background-color: #f0e3bd;



    color: #505050;

}

.titleText {
    padding-right: 0.4vw;
    border-right: 0.2vw solid rgb(216, 216, 216);

    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;

    font-size: 340%;

    animation: cursorAnimation 0.9s steps(1) infinite, typing 1.2s steps(11, end); 

    text-decoration: underline;


}

@keyframes cursorAnimation {
    from, to {border-right-color:rgb(107, 107, 107)} 50% {border-right-color: transparent}; 
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.titleDiv {
    justify-content: center;
    display: flex;
    align-items: center;

    margin-top: 2vw;

}

